h1 {
  text-align: center;
  background-color: #2390d0; /* Green background */
  color: white;
  font-family: 'Arial', sans-serif;
  font-size: 2.5em;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1:hover {
  background-color: #860c88; /* Darker green on hover */
  color: white;
}



.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #c287cf; /* Blue background */
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li.logo {
  margin-right: auto;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffeb3b; /* Yellow on hover */
}

nav ul li img {
  height: 40px;
}

main {
  flex: 1;
  padding: 20px;
}

footer {
  background-color: #8acbe7; /* Blue background */
  color: white;
  text-align: center;
  padding: 10px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}




body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #3f939e; /* Light blue background */
  background-image: url('./images/fit.jpeg'); /* Add your background image path here */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.form-content:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-family: 'Arial', sans-serif;
  font-size: 1em;
}

input, textarea, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Arial', sans-serif;
  font-size: 1em;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus, textarea:focus, select:focus {
  border-color: #428db2; /* Green border on focus */
  box-shadow: 0 0 5px rgba(40, 100, 220, 0.5); /* Green shadow on focus */
}

.radio-group {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.checkbox-group-vertical {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start for straight alignment */
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  background-color: #2e97bc; /* Green background */
  color: white;
  border: none;
  border-radius: 5px;
  font-family: 'Arial', sans-serif;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: #282fb8; /* Darker green on hover */
  color: white;
}

/* Container styles */
.container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
}

.container h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

.container p {
  font-size: 1.2em;
  color: #666;
  line-height: 1.6;
}

.page-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.icon-right {
  float: right;
  font-size: 1.5em;
  color: #2390d0; /* Match the color with your theme */
  margin-left: 10px;
}